# anamika

In [ ]:
print("anamika\n"*10)

anamika
anamika
anamika
anamika
anamika
anamika
anamika
anamika
anamika
anamika

# if else

In [ ]:
if(3>2):
    print("yes")
else:
    print("no")

yes

In [ ]:
age = int(input("enter your age"))
if(age>=16):
    print("you are eligible to get a citizenship!!")
else:
    print("you are not eligible")

you are not eligible

In [ ]:
n = float(input("enter a number"))
if(n<0):
    print("number is less than zero")
elif(n<50 and n>0):
    print("number is between 0-50")
elif(n>50 and n<100):
    print("the number is between 50-100")
else:
    print("invalid")

number is between 0-50

# for loop

In [ ]:
for i in range(10):
    print(f"steps: {i}")

steps: 0
steps: 1
steps: 2
steps: 3
steps: 4
steps: 5
steps: 6
steps: 7
steps: 8
steps: 9

In [ ]:
for i in range(10,20,2):
    print(f"steps: {i}")

steps: 10
steps: 12
steps: 14
steps: 16
steps: 18

In [ ]:
sum=0
n = int(input("enter a number"))
for i in range (n):
    sum=sum + i
    if(i== 5):
        break
print(f"sum={sum}")

sum=15

In [ ]:
sum=0
for i in range (10,20,2):
    sum=sum + i
print(f"sum={sum}")

sum=70

# Break and Continue

In [ ]:
for i in range(10,20):
    if(i==16):
        break
    print(f"steps: {i}")

steps: 10
steps: 11
steps: 12
steps: 13
steps: 14
steps: 15

In [ ]:
sum=0
n = int(input("enter a number"))
for i in range (n):
    sum=sum + i
    if(i== 5):
        break
print(f"sum={sum}")

sum=0
sum=1
sum=3
sum=6
sum=10

In [ ]:
sum=0
n = int(input("enter a number"))
for i in range (n):
    sum=sum + i
    if(i== 5):
        continue
print(f"sum={sum}")

sum=15

In [ ]:
i=0
while(i<=10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

# while loop

In [ ]:
i=1
sum=0
while(i<=10):
    sum=sum+i
    i=i+1
print(f"sum={sum}")

sum=55

# list and array

In [ ]:
name = ["apple" , "banana" , "mango" , True]
for i in (name):
    print(f"position {index} ,and value==>{value}")
type(name)

In [ ]:
name = ["apple" , "banana" , "mango" , True]
for index,value in enumerate (name):
    print(f"position {index} ,and value==>{value}")
type(name)

position 0 ,and value==>apple
position 1 ,and value==>banana
position 2 ,and value==>mango
position 3 ,and value==>True

list

In [ ]:
name = {"apple" , "banana" , "mango" , True}
for index,value in enumerate (name):
    print(f"position {index} ,and value==>{value}")
type(name)

position 0 ,and value==>mango
position 1 ,and value==>banana
position 2 ,and value==>apple
position 3 ,and value==>True

set

# Function

In [ ]:
def add(a,b):
    sum=a+b
    print(sum)
add(5,3)

8

In [ ]:
def add(a,b):
    sum=a+b
    print("inside function",sum)
    return sum
sum=add(5,6)
print("outside function",sum)

inside function 11
outside function 11

In [ ]:
n= int(input("enter the value:"))
def check(a):
  count=0
  for i in range (1 , a+1):
      if(a%i==0):
            count+=1
  if(count == 2):
            print(f"{a} is prime")
  else:
            print(f"{a} is not prime")
check(n)

enter the value:4
4 is not prime

# **Assignment**

#  1) Guess the number game:
problem:
  1) The program randomly selects a number between 1 and 100
  2) The user has to guess the number
  HINT: the program must provide hints link its too high or too low
  3) The game ends when user guesses the correct number or exceeds 5 attepts

In [ ]:
import random
def guess_the_number():
  number_to_guess = random.randint(1, 100)
  guesses=0
  max_guesses = 5
  while(guesses < max_guesses):
    try:
      n=int(input("Enter a number"))
    except ValueError:
      print("Enter a valid number")
      continue
    if(n == number_to_guess):
      print("CONGRATULATIONS!!!You've guessed the number.")
      break
    elif(n<number_to_guess):
      print("Too low!!!!")
    else:
      print("Too high!!!!")
  guesses+= 1
  if(guesses==max_guesses and n!=number_to_guess):
      print(f"You've exceeded five attempts.The number was {number_to_guess}")
guess_the_number()

Enter a number13
Too high!!!!
Enter a number1
Too low!!!!
Enter a number10
CONGRATULATIONS!!!You've guessed the number.

#  2) WAP to generate the fibonacci sequence upto n terms using while loop and function "generate _ fibo (n)"

In [ ]:
n=int(input("enter a number:"))
def generate_fibo(n):
  a=0
  b=1
  c=0
  print(a)
  print(b)
  while(c<n):
    c=a+b
    a=b
    b=c
    print(c)
generate_fibo(n)

enter a number:12
0
1
1
2
3
5
8
13